body {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.search {
    position: relative;
}

.container {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 5px;
    transition: all 0.3s ease-in-out;
}

.search input {
    width: 0;
    opacity: 0;
    padding: 10px;
    border: none;
    font-size: 20px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.container button {
    background: none;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Active class to expand the input field */
.search.active input {
    width: 150px;
    opacity: 1;
}
